@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.button-link{
  text-align: center;
  padding: 4px 12px;
  font-size: 1rem;
  letter-spacing: 1.2px;
  color: #fff;
  background-color: #47a177;
}

.button-link:hover {
  transition: all 0.2s linear;
  background-color: #40916c;
}

::-webkit-scrollbar{
  background-color: #fff;
  height: 5px;
  width: 8px;
}

::-webkit-scrollbar-thumb{
  background-color: #40916c;
  border-radius: 8px;
}